@import url("./common.css");

/*
path.cmip5_historical_line {
    stroke: #000000;
    stroke-width: 3;
    fill: none;
}

path.cmip5_historical_fill {
    stroke-width: 1;
    fill: #AAAAAA;
}

path.proj_line {
    stroke: #00FFFF;
    stroke-width: 3;
    fill: none;
}

path.proj_fill {
    stroke-width: 1;
    fill: #00AAAA;
    opacity: 0.5;
}
*/

